{% extends "admin/change_form.html" %}
{% load i18n %}

{% block after_field_sets %}

<p>{% trans "Enter a full name, then a writer will be created with a suitable username and an unusable password." %}</p>

<fieldset class="module aligned">

<div class="form-row">
  {{ form.full_name.errors }}
  <label for="id_full_name" class="required">{% trans 'Full name' %}:</label> {{ form.full_name }}
  <p class="help">{{ form.full_name.help_text }}</p>
</div>

<script type="text/javascript">document.getElementById("id_full_name").focus();</script>

</fieldset>
{% endblock %}
