{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}" class="prev" rel="prev">&laquo; {% trans "previous" %}</a>
    {% else %}
        <span class="disabled prev">&laquo; {% trans "previous" %}</span>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}{{ getvars }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            <span class="page">...</span>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}" class="next" rel="next">{% trans "next" %} &raquo;</a>
    {% else %}
        <span class="disabled next">{% trans "next" %} &raquo;</span>
    {% endif %}
</div>
{% endif %}
