{% extends "base.html" %}
{% load articles %}
{% load markup %}
{% load typogrify %}
{% load thumbnail %}
{% load uploads %}
{% block title %}{{ block.super }} &mdash; The University of Warwick Students&rsquo; Newspaper{% endblock %}
{% block body_id %}home{% endblock %}
{% block extra_head %}{{ block.super }}
<meta property="og:title" content="The Boar">
<meta property="og:type" content="website">
<meta property="og:url" content="http://theboar.org/">
<meta property="og:image" content="{{ STATIC_URL }}img/boar-head.png">
<meta name="description" property="og:description" content="The University of Warwick students&rsquo; newspaper, published fortnightly on Tuesday.">
{% endblock %}
{% block content %}

<!-- Information banner -->
<!-- <div class="home-banner">Snapped some awesome scenes around campus? Let the Boar show them off by sending your pictures to <a href="mailto:contact@theboar.org?Subject=Campus%20shots">
contact@theboar.org</a>!</div><br/> -->
<!-- End of banner -->

<div class="content-column border">
    {% with featured.0 as a %}<div class="article-block-big">
        <h2><a href="{{ featured.0.get_absolute_url }}">{{ featured.0.title|typogrify }}</a></h2>
        <small>{% include "articles/snippets/date.html" %}</small>
        {% if featured.0.image %}<a href="{{ featured.0.get_absolute_url }}"><img src="{% upload_thumbnail featured.0.image "main" %}" alt="{{ featured.0.image }}"></a>{% endif %}
        {{ featured.0.get_summary|markdown|typogrify }}
    </div>{% endwith %}

    {% with featured.1 as a %}<div class="block-column border article-block">
        <h3><a href="{{ featured.1.get_absolute_url }}">{{ featured.1.title|typogrify }}</a></h3>
        <small>{% include "articles/snippets/date.html" %}</small>
        {{ featured.1.get_summary|markdown|typogrify }}
    </div>{% endwith %}
    {% with featured.2 as a %}<div class="block-column article-block">
        <h3><a href="{{ featured.2.get_absolute_url }}">{{ featured.2.title|typogrify }}</a></h3>
        <small>{% include "articles/snippets/date.html" %}</small>
        {{ featured.2.get_summary|markdown|typogrify }}
    </div>{% endwith %}
</div>

<div class="blockplusone-column">
    <div class="block">
        <h3 class="border-news"><a href="/news/">Latest news</a></h3>
        <ul class="link-list">{% for a in news|slice:":6" %}
            <li{% if forloop.last %} class="last"{% endif %}><a href="{{ a.get_absolute_url }}">{{ a.title|typogrify }}</a> <small>{% include "articles/snippets/date.html" %}</small></li>{% endfor %}
        </ul>
    </div>
</div>

<div class="block-column border">
  {% section_block "comment" %}
  {% section_block "sport" %}
  {% section_block "money" %}
  {% section_block "games" %}
  {% section_block "film" %}
  {% section_block "science" %}
</div>
<div class="block-column border">
  {% section_block "features" %}
  {% section_block "lifestyle" %}
  {% section_block "music" %}
  {% section_block "tv" %}
  {% section_block "travel" %}
  {% section_block "books" %}
  {% section_block "arts" %}
</div>
<div class="blockplusone-column">
	<!-- This is the code for twitter feed -->
<div class="block">
	<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
	new TWTR.Widget({
	  version: 2,
	  type: 'profile',
	  rpp: 4,
	  interval: 30000,
	  width: 'auto',
	  height: 300,
	  theme: {
	    shell: {
	      background: '#a0bdd6',
	      color: '#000000'
	    },
	    tweets: {
	      background: '#ffffff',
	      color: '#000000',
	      links: '#2970db'
	    }
	  },
	  features: {
	    scrollbar: false,
	    loop: false,
	    live: true,
	    behavior: 'all'
	  }
	}).render().setUser('warwickboar').start();
	</script>
</div>
	<!-- Twitter ends here -->
	{% if latest_issue %}
		<div class="block archive-block">
			<h3><a href="{% url archive %}">Newspaper</a></h3><a href="{{ latest_issue.get_absolute_url }}"><img src="{% thumbnail latest_issue.get_front_page.image 250x10000 %}" alt="{{ issue.title }}" width="250"></a>
		</div>
	{% endif %}
	{% latest_comments_block %}
	<div align="center"><a href="http://www.radio.warwick.ac.uk/"><img src="{{ STATIC_URL }}img/raw-logo-side.png"></a></div>
</div>

{% endblock %}

