{% extends "base.html" %}
{% load articles %}
{% load markup %}
{% load pagination_tags %}
{% load typogrify %}
{% load uploads %}
{% block extra_head %}{{ block.super }}<link rel="alternate" type="application/atom+xml" title="The Boar: {{ section }}" href="{% url articles_feed_section section.slug %}">
<link rel="alternate" type="application/atom+xml" title="The Boar: {{ section }}: {{ topics.0 }}" href="{% url articles_feed_topic section.slug topics.0.slug %}">{% endblock %}
{% block title %}{% for topic in topics %}{{ topic.name }}{% if forloop.last %}{% else %}{% ifequal forloop.revcounter0 1 %} and {% else %}, {% endifequal %}{% endif %}{% endfor %}{% if date %} ({{ date|date:"F Y" }}){% endif %} &mdash; {{ section }} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="threequarter-column border">
    <h2><a href="{{ section.get_absolute_url }}{% if date %}{{ date|date:"Y" }}/{{ date|date:"b" }}/{% endif %}">{{ section }}</a>: {% for topic in topics %}{{ topic.name }}{% if forloop.last %}{% else %}{% ifequal forloop.revcounter0 1 %} and {% else %}, {% endifequal %}{% endif %}{% endfor %}{% if date %} <small>{{ date|date:"F Y" }}</small>{% endif %}</h2>
    <div class="half-column border">{% autopaginate articles 25 as paginated_articles %}
        {% if paginated_articles %}<ul class="article-list">{% for a in paginated_articles %}{% article_list_bit a %}{% endfor %}
        </ul>{% else %}<p>Nothing here!</p>{% endif %}
        {% paginate %}
    </div>
    <div class="quarter-column">
        {% ifequal topics|length 1 %}{% if topics.0.metadata %}{% with topics.0.metadata as m %}<div class="block">
            {% if m.image %}<img src="{% upload_thumbnail m.image "article-list" %}" alt="{{ m.image }}">{% endif %}
            {% if m.description %}{{ m.description|markdown|typogrify }}{% endif %}
        </div>{% endwith %}{% endif %}{% endifequal %}
        {% if related %}<div class="block">
            <h3>Related</h3>
            <div>{% for topic in related %}{% if not forloop.first %} &middot; {% endif %}<a href="/{{ section.slug }}/{{ topic.slug }}/{% if date %}{{ date|date:"Y" }}/{{ date|date:"b" }}/{% endif %}">{{ topic.name }}</a>{% endfor %}</div>
        </div>{% endif %}
        {% if all_articles %}{% archive_block all_articles date absolute_url %}{% endif %}
    </div>
</div>
<div class="quarter-column">
    {% with 0 as articles %}{% with 1 as no_image %}{% for topic in related|slice:":4" %}{% include "articles/blocks/topic.html" %}{% endfor %}{% endwith %}{% endwith %}
</div>{% endblock %}
