{% extends "base.html" %}
{% load articles %}
{% load markup %}
{% load pagination_tags %}
{% load thumbnail %}
{% load typogrify %}
{% block title %}Writing &mdash; {{ object.get_full_name }} &mdash; {{ block.super }}{% endblock %}
{% block extra_head %}{{ block.super }}<link rel="alternate" type="application/atom+xml" title="The Boar: {{ object.get_full_name }}" href="{% url articles_feed_user object.username %}" />{% endblock %}
{% block content %}<h2><a href="{% url user_detail object.username %}">{{ object.get_full_name }}</a>: Writing</h2>
<div class="content-column border">
    {% with object.article_set.published as articles %}
    {% autopaginate articles 25 %}
    {% if articles %}<ul class="article-list">{% for a in articles %}{% article_list_bit a %}{% endfor %}</ul>{% else %}<p>{{ object.first_name }} hasn't written anything.</p>{% endif %}
    {% paginate %}
</div>
<div class="block-column">
    {% if object.get_profile.photo or object.get_profile.about %}<h3><a href="{% url user_detail object.username %}">Profile</a></h3>
    {% if object.get_profile.photo %}<img src="{% thumbnail object.get_profile.photo 120x120 crop %}" alt="{{ object.get_full_name }}" class="right top" width="120" height="120" />{% endif %}
    {% if object.get_profile.about %}{{ object.get_profile.about|markdown|typogrify }}{% endif %}{% endif %}
</div>
{% endwith %}
{% endblock %}