{% extends "base.html" %}
{% load smart_if %}
{% load thumbnail %}
{% load typogrify %}
{% block title %}{{ issue }} &mdash; Archive &mdash; {{ block.super }}{% endblock %}
{% block extra_head %}{{ block.super }}
<meta property="og:title" content="{{ issue }}" />
<meta property="og:type" content="newspaper" />
<meta property="og:url" content="http://{{ request.get_host }}{{ issue.get_absolute_url }}" />
<meta property="og:image" content="{% with issue.get_front_page.image as front_page %}{% if front_page %}{% thumbnail front_page 219x10000 %}{% else %}{{ MEDIA_URL}}static/img/boar-head.png{% endif %}{% endwith %}" />
<meta property="og:site_name" content="The Boar" />


{% endblock %}
{% block content %}<div id="archive-issue">
  <h2>
    <a href="{% url archive %}">Archive</a>: {{ issue }} <small>{{ issue.date|date:"l j F, Y" }}</small>
    <fb:like layout="standard" style="float:right " show_faces="false" width="283"></fb:like>
  </h2>
    {% for part in parts %}
        {% if not forloop.first %}<h3>{{ part.part.name }}</h3>{% endif %}
    
        {% for spread in part.spreads %}{% if spread.pages %}<div class="spread clearfix">
            <div class="pages content-column border">{% for page in spread.pages %}<a href="{{ page.pdf.url }}"><img src="{% thumbnail page.image 298x10000 %}" alt="{{ page.title }}" width="298" id="archive-page-{{ part.part.pk }}-{{ page.pk }}" class="{% if forloop.last %}last{% endif %}" /></a>{% endfor %}
            </div>
            <div class="block-column">
                <h3>{% if spread.pages|length == 1 %}Page {{ spread.pages.0.number }}{% else %}Pages {{ spread.pages.0.number }}&ndash;{% with spread.pages|slice:"-1:" as last_page %}{{ last_page.0.number }}{% endwith %}{% endif %}</h3>
                <ul>{% for content in spread.content %}
                    <li>{% with content.get_absolute_url as content_url %}{% if content_url %}<a href="{{ content_url }}">{% endif %}{{ content|typogrify }}{% if content_url %}</a>{% endif %}{% endwith %}</li>
                {% endfor %}</ul>
            </div>
        </div>{% endif %}{% endfor %}

    {% endfor %}
</div>{% endblock %}
