{% extends "base.html" %}
{% load thumbnail %}
{% load typogrify %}
{% block title %}Archive &mdash; {{ block.super }}{% endblock %}
{% block content %}<div id="archive"><h2>Archive</h2>
{% for volume in volumes %}{% with volume.issues.published as issues %}{% if issues %}
    <h3>{{ volume.title }}</h3>
    <div class="clearfix">
        {% for issue in issues %}<div class="issue top {% if forloop.counter|divisibleby:"4" %}right{% else %}left{% endif %}"><a href="{{ issue.get_absolute_url }}"><img src="{% thumbnail issue.get_front_page.image 219x10000 %}" alt="{{ issue.title }}" width="219"></a>{{ issue.title }} <p><small>{{ issue.date|date:"l j F, Y" }}</small></p></div>{% if forloop.counter|divisibleby:"4" %}
    </div>
    <div class="clearfix">
        {% endif %}{% endfor %}
    </div>

{% endif %}{% endwith %}{% endfor %}
</div>{% endblock %}
