{% extends "articles/sections/default.html" %}
{% load articles %}
{% load markup %}
{% load typogrify %}
{% load uploads %}
{% block extra_js %}{{ block.super }}<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
<script type="text/javascript">
function createMarker(map, y, x, title) {
    var point = new GLatLng(y, x);
    var marker = new GMarker(point);
    GEvent.addListener(marker, "click", function() {
        map.openInfoWindowHtml(point, title, {maxWidth: 200});
    });
    map.addOverlay(marker);
}

$(function(){
    if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setMapType(G_HYBRID_MAP);
        map.setCenter(new GLatLng(35, 0), 1);
        {% for a in articles %}{% if a.travel_metadata.location %}createMarker(map, {{ a.travel_metadata.location.y }}, {{ a.travel_metadata.location.x }}, "{% filter escapejs %}<h4><a href="{{ a.get_absolute_url }}">{{ a.title|typogrify }}</a></h4>
{% comment %}{% if a.image %}<a href="{{ a.get_absolute_url }}"><img src="{% upload_thumbnail a.image "article-list" %}" alt="{{ a.image }}" /></a>{% endif %}{% endcomment %}
{{ a.get_summary|markdown|typogrify }}{% endfilter %}");
        {% endif %}{% endfor %}
        map.addControl(new GSmallMapControl());
    }
});
</script>{% endblock %}
{% block section-featured %}{% ifequal page_obj.number 1 %}{% if featured.0 %}
{% with featured.0 as a %}<div class="article-block-big half-column border">
    <h2><a href="{{ a.get_absolute_url }}">{{ a.title|typogrify }}</a></h2>
    <small>{% include "articles/snippets/date.html" %}</small>
    {% if featured.0.image %}<a href="{{ featured.0.get_absolute_url }}"><img src="{% upload_thumbnail featured.0.image "half" %}" alt="{{ featured.0.image }}" /></a>{% endif %}
    {{ featured.0.get_summary|markdown|typogrify }}
</div>{% endwith %}

<div class="article-block-big half-column">
    <div id="map_canvas" class="half-column" style="height: 340px"></div>
</div>
{% endif %}{% endifequal %}
{% endblock %}
{% block section-column2 %}<div class="quarter-column border">
    {% archive_block all_articles date section.get_absolute_url %}
    {% with 1 as no_image %}{% for topic in topics|slice:":1" %}{% include "articles/blocks/topic.html" %}{% endfor %}{% endwith %}
</div>{% endblock %}
{% block section-column3 %}<div class="quarter-column">
    {% include "articles/blocks/topics.html" %}
    {% with 1 as no_image %}{% for topic in topics|slice:"1:2" %}{% include "articles/blocks/topic.html" %}{% endfor %}{% endwith %}
</div>{% endblock %}
