{% extends "base.html" %}
{% load awards %}
{% load markup %}
{% load typogrify %}
{% block title %}{{ ceremony.title }} &mdash; {{ block.super }}{% endblock %}
{% block extra_head %}
<meta property="og:title" content="{{ ceremony.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="http://{{ request.get_host }}{% url awards_ceremony_detail %}">
<meta property="og:image" content="{{ STATIC_URL }}img/boris-crest-big-black.png">
<meta property="og:site_name" content="The Boar">
<meta name="description" property="og:description" content="{{ ceremony.description|markdown|typogrify }}">
{% endblock %}
{% block extra_js %}{{ block.super }}<script type="text/javascript">
    boar.refreshOnSessionChange = true;
</script>{% endblock %}
{% block content %}
<div id="awards">
    <img src="{{ STATIC_URL }}img/boris-crest-big-black.png" alt="">
    <h2>{{ ceremony.title|typogrify }}</h2>
    <p id="awards-description" class="donthyphenate">{{ ceremony.description|markdown|typogrify }}</p>
    
    {% if request.user.is_authenticated %}
    <form action="" method="POST">{% csrf_token %}
        {% for field in form %}
        <h3>{{ field.label }}</h3>
        {% if field.errors %}
        <ul class="errorlist">
           {% for error in field.errors %}
           <li>{{ error }}</li>
           {% endfor %}
        </ul>
        {% endif %}
        {% if request.user|has_voted_for_award:field.name %}
            <p>You have voted on this award!</p>
        {% else %}
            {{ field.as_widget }}
        {% endif %}
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
    {% else %}
    <p><fb:login-button perms="email" length="long" auto-logout-link="true">Login with Facebook to vote</fb:login-button></p>
    {% endif %}
</div>
{% endblock %}
